.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 100%;

    .title {
        font-size: 36px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.11;
        letter-spacing: 0.77px;
        color: #fff;
        width: 65%;
        margin: 0 auto 80px auto;

        span {
            background-color: $blue-color;
            padding: 0 0.125em;
        }
    }
}
